<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Scandic Restaurant</title>
</head>
<body>
    <div class="site-wrap">
      
        <nav class="site-menu">
          <div class="site-menu-inner">
            <ul class="list-unstyled">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="{% url 'meals:meal_list' %}">Meals</a></li>
              <li><a href="{% url 'aboutus:aboutus_list' %}">About Us</a></li>
              <li><a href="{% url 'reservation:reserve_table' %}">Reserve A Table</a></li>
              <li><a href="{% url 'contact:send_email' %}">Contact</a></li>
            </ul>
          </div>
        </nav>
        <!-- site-header -->
        <header class="site-header">  
            <div class="row align-items-left">
                <div class="col-5 col-md-3 text-right menu-burger-wrap">
                    <a href="#" class="site-nav-toggle js-site-nav-toggle"><i></i></a>
                </div>
            </div>

        </header>
        <!-- site-body -->
        <body>

        </body>

        <!-- site-footer -->
        <footer>
            
        </footer>


    
</body>
</html>